.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 250px;
}

.all-box {
  border: 1px solid white;
  width: 600px;
  height: 300px;
  text-align: center;
  padding-top: 70px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

.button-zone {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  height: 100px;
  border-radius: 50px;
  align-items: center;
  background-color: black;
  width: 600px;
}
.button-zone button {
  margin: 0 15px;
}

main {
  background-image: url(./images/밤하늘.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: white;
}
